.app {
  background-color: grey;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__body {
  display: flex;
  height: 90vh;
  width: 90vw ;
  background-color: white;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px wheat;
}